#about{
    #container{
        #intro{
            .intro-bg{
                background: rgb(255,255,255);
                background: linear-gradient(0deg, rgba(255,255,255,1) 3%, rgba(173,173,241,1) 35%, rgba(106,106,230,1) 100%);
            }
            .intro-tit{
                > h2{text-transform: none;}
            }
        }
        #introCont{
            .tag{
                width: calc(100% - 6rem);
                max-width: 1280px;
                min-height: 42rem;
                margin: 0 auto;
                position: relative;
                &-info{
                    width: 100%;
                    height: 16rem;
                    margin: 0 auto;
                    text-align: center;
                    font-size: 1.2vw;
                    line-height: 1.5;
                    padding: 2rem 1.6rem 2.6rem;
                    @include flexbox(row, center, center);
                    @include background(sub/about, tag_info_bg, png, no-repeat, 100%, left, center);
                    @include tablet{
                        width: 70%;
                        height: auto;
                        margin: -3rem 0 0 auto;
                        background-image: none;
                        background: $white;
                        font-size: 1.4rem;
                        line-height: 2rem;
                        padding: 1.4rem .8rem;
                    }
                }
                &-icon{
                    @include tablet{
                        width: 70%;
                        position: relative;
                        z-index: 1;
                    }
                    img{width: 100%;}
                }
                .icon{
                    width: calc(100% / 3);
                    position: absolute;
                    top: 0;
                    z-index: 0;
                    @include tablet{
                        width: 100%;
                        position: static;
                        @include flexbox(column, flex-start, flex-start);
                        flex-direction: column-reverse;
                    }
                    &:nth-child(1){
                        left: 0;
                        .star{
                            &.big{top: 4rem;left: 0;}
                            &.small{top: 0;right: 0;}
                        }
                    }
                    &:nth-child(2){
                        margin-top: 8rem;
                        left: 33.3%;
                        z-index: 1;
                        @include tablet{
                            margin-top: 2.4rem;
                        }
                        .tag-icon{
                            width: 110%;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            @include tablet{
                                width: 70%;
                                position: static;
                                transform: translateX(0);
                                margin-left: auto;
                                margin-right: 0;
                            }
                        }
                        .tag-info{
                            @include tablet{
                                margin-left: 0;
                                margin-right: auto;
                            }
                        }
                        .star{
                            &.big{
                                bottom: 0;right: 0;
                                @include tablet {bottom:auto; top: 50%;}
                            }
                            &.small{
                                bottom: -12rem;left: 0;
                                @include tablet{bottom: auto; top: 40%;}
                            }
                        }
                    }
                    &:nth-child(3){
                        margin-top: 1.6rem;
                        right: 0;
                        @include tablet{
                            margin-top: 2.4rem;
                        }
                        .star{
                            &.big{
                                top: 0;right: 0;
                                @include tablet{top: auto;right: auto;bottom: 0;left: 0;}
                            }
                            &.small{
                                top: 2rem;left: -4rem;
                                @include tablet{top: auto; bottom: 20%; left: auto;right: 0;}
                            }
                        }
                    }
                    .star{
                        width: 5.4rem;
                        height: 5.4rem;
                        position: absolute;
                        z-index: 10;
                        @include flexbox(row, center, center);
                        > img{
                            max-width: 100%;
                            display: block;
                        }
                    }
                }
            }
            .line-wrap{
                position: relative;
                width: 100%;
                overflow: hidden;
                min-height: 28rem;
                @include tablet{min-height: 10rem;}
                .line{
                    position:absolute; 
                    top: 50%; 
                    display:flex;
                    background:#F8F8F8;
                    height: 8rem;
                    left:50%;
                    transform: translate(-50%, -50%) rotate(-5deg);
                    z-index:-2;
                    @include tablet{
                        height: 2.8rem;
                    }
                    p{
                        width: 66rem;
                        font-size: 2.8rem;
                        white-space:nowrap;
                        @include flexbox(row, flex-start, center);
                        @include tablet{
                            // width: auto;
                            width: 25rem;
                            font-size: .8rem;
                        }
                        &::before {
                            content: "";
                            display: inline-block; 
                            width: 4.7rem; 
                            height: 4.7rem; 
                            margin: 0 0.6rem;
                            @include background(icon, intro_line_icon, svg, no-repeat, contain, center, center);
                            @include tablet{
                                width: 1.8rem;
                                height: 1.8rem;
                            }
                        }
                    }
                    &.purple{
                        background: $purple;
                        left: 50%;
                        z-index: -1;
                        transform: translate(-50%, -50%) rotate(5deg);
                        p{color: $white;}
                    }
                    &.gray{
                        p{
                            &::before{filter: invert(40%) sepia(75%) saturate(690%) hue-rotate(206deg) brightness(95%) contrast(90%);}
                        }
                    }
                }
            }
        }
        #group{
            padding: 8rem 0;
            @include tablet{padding: 4rem 0;}
            &::after{
                content: '';
                width: calc(100% - 2rem);
                max-width: 1840px;
                height: 100%;
                position: absolute;
                left: 50%;
                top: 0;
                z-index: -1;
                transform: translateX(-50%);
                border-radius: 5rem;
                background: #E8E8FF;
                @include tablet{border-radius: 1rem;}
            }
            .group-chart{
                width: 100%;
                margin-top: 6rem;
                overflow-x: auto;
                @include tablet{margin-top: 2.4rem;}
                &::-webkit-scrollbar {
                    width: 1rem;
                    height: .8rem;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $purple;
                    border-radius: 0.5rem;
                }
                &::-webkit-scrollbar-track {
                    background-color: #DDDDDD;
                    border-radius: 0.5rem;
                }
                .img-wrap{
                    max-width: 1250px;
                    margin: 0 auto;
                    padding-bottom: 2.4rem;}
            }
        }
        #member{
            padding: 14rem 0 0;
            @include tablet{padding: 8rem 0 0;}
            .sec-tit{
                margin-bottom: 9.4rem;
                width: calc(100% - 6rem);
                margin: 0 auto;
            }
            .member-wrap{
                &:not(:first-child){
                    margin-top: 8rem;
                    @include tablet{margin-top: 6rem;}
                }
                &:nth-child(even){
                    > .team-name{
                        text-align: right;
                        padding-right: 6rem;
                        @include tablet{
                            text-align: left;
                            padding-right: 0;
                            padding-left: 3rem;
                        }
                    }
                }
                > .team-name{
                    font-family: $panchang;
                    // font-size: 6.2rem;
                    font-size: 5vw;
                    font-weight: bold;
                    line-height: 12rem;
                    color: #F4F4F4;
                    white-space: nowrap;
                    padding-left: 6rem;
                    @include tablet{
                        font-size: 3.2rem;
                        line-height: 3.8rem;
                        padding-left: 3rem;
                    }
                }
                .member-list{
                    gap: 3.6rem 2.4rem;
                    flex-wrap: wrap;
                    &:hover{*{cursor: none;}}
                    @include flexbox(row, center, center);
                    @include tablet_junction{
                        justify-content: space-between;
                        gap: 1.8rem;
                    }
                    > li{
                        width: calc(100% / 3 - 1.6rem);
                        max-width: 40rem;
                        @include tablet_junction{
                            width: calc(100% / 2 - 1.2rem);
                            max-width: 100%;
                        }
                        @include tablet{
                            width: 100%;
                            &:nth-child(even){
                                .character{
                                    @include tablet{
                                        margin-left: auto !important;
                                        margin-right: 0 !important;
                                    }
                                }
                                .introductory{justify-content: flex-start !important;}
                                > a{
                                    &[title]::after{
                                        right: auto;
                                        left: 0;
                                        text-align-last: left;
                                    }
                                }
                            }
                        }
                        > a{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            &[title]::after{
                                content:attr(title); 
                                position: absolute; 
                                bottom: 80%;
                                right: 0; 
                                width: 100%;
                                height: 10%; 
                                font-weight: bold;
                                text-align: right; 
                                color: $black;
                                z-index: 10;
                                opacity: 0;
                                @include tablet{bottom: 14rem;}
                            }
                            &[title]:hover::after{opacity: 1;}
                            > div{
                                &:first-child{
                                    position: relative;
                                    .character{
                                        width: 40%;
                                        margin: 0 auto;
                                        @include tablet{
                                            position: relative;
                                            width: 30%;
                                            z-index: 1;
                                            margin: 0;
                                            padding: 0 1.2rem;
                                            @include mobile {
                                                width: 40%;
                                            }
                                        }
                                        > img{
                                            max-width: 100%;
                                            display: block;
                                            margin: 0 auto;
                                        }
                                    }
                                    .introductory{
                                        width: 100%;
                                        height: 8rem;
                                        padding: 1rem;
                                        background: $white;
                                        border-width: 1px;
                                        border-style: solid;
                                        border-radius: 1rem;
                                        color: $black;
                                        text-align: center;
                                        font-weight: 500;
                                        line-height: 2.6rem;
                                        @include flexbox(row, center, center);
                                        @include tablet{
                                            height: 9.6rem;
                                            position: absolute;
                                            left: 0;
                                            bottom: 0;
                                            z-index: 0;
                                            justify-content: flex-end;
                                        }
                                        > p{
                                            @include ellipsis($num: 2);
                                            @include tablet{
                                                width: calc(65% - 1rem);
                                                font-size: 1.4rem;
                                                line-height: 2.6rem;
                                                padding: 0 1.6rem;
                                                word-break: keep-all;
                                                @include ellipsis($num: 3);
                                            }
                                        }
                                    }
                                }
                            }
                            .flex-wrap{
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 1rem;
                                .team-name{
                                    font-weight: 500;
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}