#job{
    #container{
        #vintTeam{
            .con-box{width: 100%;}
            #teamSwiper{
                width: 100%;
                height: 100%;
                @include tablet{padding-bottom: 3rem;}
                .swiper-slide{
                    min-height: 40rem;
                    // max-height: 40rem;
                    @include tablet{min-height: 31.4rem;}
                    .character{
                        width: 55%;
                        margin: 0 auto;
                        @include flexbox(row, center, center);
                        > img{
                            max-width: 100%;
                            display: block;
                        }
                    }
                    .team-info{
                        text-align: center;
                        margin-top: 2rem;
                        @include tablet{
                            margin-top: 1rem;
                            @include flexbox(column, center, center);
                        }
                        > strong{
                            font-size: 2.4rem;
                            font-weight: bold;
                            display: block;
                            margin-bottom: 1.6rem;
                            @include tablet{font-size: 1.8rem;}
                        }
                        > p{
                            font-size: 1.8rem;
                            line-height: 3rem;
                            @include tablet{
                                font-size: 1.4rem;
                                line-height: 2.6rem;
                            }
                        }
                    }
                }
                .swiper-pagination{
                    bottom: 0;
                    &-bullet{
                        width: 1.2rem;
                        height: 1.2rem;
                        background: #ddd;
                        opacity: 1;
                        &-active{background: $purple;}
                    }
                }
            }
        }
        #benefit{
            margin-top: 4rem;
            padding: 8rem 0;
            &.on{
                &::before{display: none;}
                .benefit-wrap{
                    height: auto;
                    overflow: auto;
                }
            }
            &::after, &::before{
                content: '';
                width: calc(100% - 4rem);
                max-width: 1840px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            &::after{
                height: 100%;
                background: #F8F8F8;
                border-radius: 5rem;
                z-index: -1;
                top: 0;
                @include tablet{border-radius: 1rem;}
            }
            &::before{
                height: 50%;
                background: linear-gradient(rgba(0,0,0,0), rgba(255,255,255,0.5) 10%, rgba($purple, 0.2) 80%);
                border-radius: 0 0 5rem 5rem;
                z-index: 1;
                bottom: 0;
                @include tablet{border-radius: 0 0 1rem 1rem;}
            }
            .benefit-wrap{
                display: grid;
                gap: 1.6rem;
                grid-template-columns: repeat(4, 1fr);
                margin-top: 6rem;
                height: 45.6rem;
                overflow: hidden;
                @include tablet{
                    grid-template-columns: 1fr;
                    margin-top: 4rem;
                }
                .benefit-list{
                    gap: 1.6rem;
                    &.mt40{margin-top: 4rem;}
                    @include flexbox(column, flex-start, flex-start);
                    @include tablet{
                        &:not(:first-child){display: none;}
                        gap: 1rem;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        &.mt40{margin-top: 0;}
                    }
                    > li{
                        // float: left;
                        min-height: 20rem;
                        width: 100%;
                        position: relative;
                        @include tablet{
                            width: calc(100% / 2 - 0.5rem);
                            min-height: 21rem;
                            padding: 2.2rem 1.4rem;
                            &:nth-child(1){order: 1;}
                            &:nth-child(2){order: 5;}
                            &:nth-child(3){order: 9;}
                            &:nth-child(4){order: 13;}
                            &:nth-child(5){order: 2;}
                            &:nth-child(6){order: 6;}
                            &:nth-child(7){order: 10;}
                            &:nth-child(8){order: 14;}
                            &:nth-child(9){order: 3;}
                            &:nth-child(10){order: 7;}
                            &:nth-child(11){order: 11;}
                            &:nth-child(12){order: 4;}
                            &:nth-child(13){order: 8;}
                            &:nth-child(14){order: 12;}
                        }
                        .img-wrap{
                            width: 9.6rem;
                            height: 9.6rem;
                            display: block;
                            position: absolute;
                            right: 1.6rem;
                            bottom: 1.6rem;
                            @include flexbox(row, center, center);
                            > img{max-width: 100%;}
                            @media (max-width: 1200px) {
                                width: 4rem;
                                height: 4.6rem;                          
                            }
                        }
                        .benefit-info{
                            > strong{
                                font-size: 2.4rem;
                                line-height: 3.6rem;
                                font-weight: bold;
                                display: block;
                                margin-bottom: 1.6rem;
                                position: relative;
                                z-index: 1;
                                @include tablet{
                                    font-size: 1.8rem;
                                    margin-bottom: 1rem;
                                }
                            }
                            .icon-circle{
                                position: absolute;
                                top: 1.6rem;
                                left: 1.6rem;
                                z-index: 0;
                                background: rgba($yellow, 0.3);
                                @include tablet{
                                    width: 2.4rem;
                                    height: 2.4rem;
                                    top: 1.4rem;
                                    left: 1.4rem;
                                }
                            }
                            > p{
                                line-height: 2.6rem;
                                @include tablet{line-height: 2rem;}
                            }
                        }
                    }
                }
            }
            button{
                position: relative;
                z-index: 2;
                margin: 6rem auto 0;
                @include tablet{margin: 2.4rem auto 0;}
            }
        }
        #faq{
            margin-top: 4rem;
            padding: 8rem 0;
            &::after{
                content: '';
                width: calc(100% - 4rem);
                height: 100%;
                max-width: 1840px;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                z-index: -1;
                background: $purple;
                border-radius: 5rem;
                @include background(sub/job, faq_bg, png, no-repeat, cover, left, top);
                @include tablet{
                    border-radius: 1rem;
                    @include background(sub/job, faq_mb_bg, png, no-repeat, cover, left, top);
                }
            }
            .sec-tit{*{color: $white;}}
            .faq-list{
                margin-top: 4rem;
                > li{
                    &:not(:first-child){
                        margin-top: 2.4rem;
                        @include tablet{margin-top: 1.6rem;}
                    }
                    &.on{
                        .faq-list-tit{
                            &::after{transform: translateY(-50%) rotate(180deg);}
                        }
                    }
                }
                &-tit{
                    @include flexbox(row, flex-start, center);
                    gap: 2rem;
                    background: $white;
                    padding: 3rem 7rem 3rem 3.6rem;
                    border-radius: 1rem;
                    font-size: 2.4rem;
                    font-weight: bold;
                    line-height: 3.6rem;
                    position: relative;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    @include tablet{
                        font-size: 1.8rem;
                        line-height: 2.8rem;
                        padding: 1.8rem 7rem 1.8rem 1.4rem;
                        align-items: flex-start;
                    }
                    .qa-num{
                        -webkit-text-stroke: 1px #C4C4EB;
                        color: transparent;
                        font-size: 3.6rem;
                        font-weight: 800;
                        @include tablet{font-size: 2.4rem;}
                    }
                    &::after{
                        content: '';
                        width: 4.6rem;
                        height: 4.6rem;
                        box-shadow: 0 0 1rem rgba(106, 106, 230, 0.2);
                        border-radius: 50%;
                        @include background(icon, arrow_icon, png, no-repeat, 50%, center, center);
                        background-color: $white;
                        position: absolute;
                        top: 50%;
                        right: 3.6rem;
                        transform: translateY(-50%);
                        border: 1px solid rgba($purple, 0.2);
                        transition: all .35s;
                        @include tablet{right: 1.4rem;}
                    }
                }
                &-comment{
                    background: #E8E8FF;
                    border-radius: 1rem;
                    padding: 2.4rem 10.4rem;
                    font-size: 1.8rem;
                    line-height: 3rem;
                    @include tablet{
                        padding: 1.8rem 1.4rem;
                        font-size: 1.6rem;
                        line-height: 2.8rem;
                    }
                }
            }
        }
        #recruitment{
            margin-top: 8rem;
            .recruitment-list{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.6rem;
                @include tablet_junction{grid-template-columns: 1fr;}
                > li{
                    position: relative;
                    &:nth-child(1){
                        .team-character{@include background(sub/job, recruitment_plan_img, png, no-repeat, contain, center, bottom);}
                    }
                    &:nth-child(2){
                        .team-character{@include background(sub/job, recruitment_design_img, png, no-repeat, contain, center, bottom);}
                    }
                    &:nth-child(3){
                        .team-character{@include background(sub/job, recruitment_dev_img, png, no-repeat, contain, center, bottom);}
                    }
                    .team-character{
                        width: 16rem;
                        height: 12.8rem;
                        margin-left: auto;
                        margin-right: 0;
                        transform: translateY(0.5rem);
                        > img{
                            width: 100%;
                            display: block;
                        }
                        @include tablet_junction{
                            width: 12rem;
                            height: 9.8rem;
                            position: absolute;
                            top: 50%;
                            right: 1.6rem;
                            transform: translateY(-50%);
                            z-index: 1;
                        }
                    }
                    .purple-box{
                        position: relative;
                        z-index: 0;
                        @include flexbox(row, space-between, flex-end);
                        @include tablet_junction{
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        > div{
                            .tag-item{
                                display: block;
                                width: 6rem;
                                padding: 1rem;
                                font-size: 1.4rem;
                                font-weight: 500;
                                margin-bottom: 2.6rem;
                                @include tablet_junction{
                                    width: 5.2rem;
                                    margin-bottom: 1rem;
                                    padding: 0;
                                    line-height: 2.4rem;
                                }
                            }
                            > strong{
                                font-size: 3.6rem;
                                font-weight: bold;
                                @include tablet{font-size: 2.4rem;}
                            }
                        }
                        .team-support{
                            @include flexbox(row, space-between, center);
                            gap: 2.2rem;
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: $black;
                            @include tablet_junction{
                                margin-top: 1.6rem;
                                gap: 1rem;
                            }
                            .arr-btn{
                                img{
                                    animation: arr_ani .5s infinite both alternate;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}