$hyundai: #3BB88C;
$koica: #00246C;
$orange: #FA902E;
$nhbank: #0055A5;
$yg1: #ED1C24;

.bold-type{font-weight: bold;}
.regular-type{font-weight: normal;}
.pretendard{font-family: $pretendard;}
.notosans{font-family: $pretendard;}
.roboto{font-family: $roboto;}
.montserrat{*{font-family: $montserrat;}}
.spoqa{*{font-family: $spoqa;}}
.poppins{*{font-family: $poppins;}}
.play{*{font-family: $play;}}

#project{
    // overflow-x: hidden;
    #intro{
        &::after{
            content: 'VINTWIRE PROJECT';
            font-family: $panchang;
            display: block;
            font-size: 6.2vw;
            font-weight: bold;
            -webkit-text-stroke: 1px rgba($black, 0.2);
            color: transparent;
            white-space: nowrap;
            position: absolute;
            bottom: -3.5rem;
            right: 0;
            width: 100%;
            overflow: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {display: none;}
            @include tablet{
                font-size: 6.7vw;
                bottom: 0;
                right: -1.2vw;
            }
        }
    }
    #projectList{
        margin-top: 0 !important;
        .con-box {
            .project-list{
                display: flex;
                width: 100%;
                gap: 1.6rem;
                justify-content: space-between;
                &.right {justify-content: flex-end;}
                &.left {justify-content: flex-start;}
                @include tablet{flex-wrap: wrap;}
                li {
                    width: 100%;
                    min-height: 36rem;
                    max-height: 36rem;
                    position: relative;
                    border-radius: 3.2rem;
                    overflow: hidden;            
                    &.border-blunt {border-bottom-right-radius: 8rem;}
                    * {color: #FFFFFF;}
                    @include tablet{
                        width: calc(50% - 0.8rem) !important;
                        min-height: 18rem;
                        border-radius: 1.2rem 1.2rem 1.2rem 0.4rem !important;
                        &.empty, &.project-txt {display: none;}
                    }
                    a {
                        display: block;
                        height: 100%;
                        position: relative;
                        &::after {
                            content: '';
                            width: 4rem;
                            height: 4rem;
                            position: absolute;
                            top: 3.6rem;
                            right: 3.6rem;
                            z-index: 2;
                            opacity: 0;
                            transform: rotate(0deg);
                            transition: all .35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                            @include background(icon, link_icon, png, no-repeat, contain, center, center);
                            @include tablet{display: none;}
                        }
                    }
                    .inner {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        &::before {
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: rgba($color: $black, $alpha: 0.4);
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                        }
                        .img-wrap {
                            height: 100%;
                            img {
                                height: 100%;
                                width: auto;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                transition: transform 0.3s;
                                @include tablet{
                                    position: static;
                                    transform: translate(0);
                                    width: 100%;
                                }
                            }
                        }
                        .txt-wrap {
                            width: 100%;
                            height: 100%;
                            padding: 3.6rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;
                            @include flexbox(column, space-between, flex-start);
                            @include tablet{padding: 0.8rem 0.9rem;}
                            .label {
                                font-size: 2rem;
                                font-weight: 700;
                                opacity: 0;
                                transition: opacity 0.3s;
                                @include tablet{
                                    font-size: 1.4rem;
                                    font-weight: 400;
                                    opacity: 1;
                                }
                            }
                            > strong {font-family: $panchang;}
                            strong {
                                display: block;
                                font-size: 3.6rem;
                                font-weight: 700;
                                line-height: 1.334;
                                transition: all 0.3s;
                                @include tablet{
                                    font-size: 1.8rem;
                                    bottom: 0 !important;
                                }
                            }
                            p {
                                display: block;
                                font-family: $pretendard;
                                @include tablet{display: none;}
                            }
                        }
                    }
                    &.project-txt {
                        // 텍스트 공통 컬러 값
                        * {color: #C2C2C2;}
                        // 텍스트는 항상 가운데 정렬
                        .inner {
                            // 텍스트는 딤드처리 제외
                            &::before {display: none;}
                            .txt-wrap {
                                justify-content: center;
                                padding: 0;
                                strong, p{
                                    display: block;
                                    width: 100%;
                                }
                                p {line-height: 1.5;}
                            }
                        }
                        // 텍스트 우측 정렬
                        &.txt-right {
                            .inner {
                                align-items: flex-end;
                                * {text-align: right;}
                            }
                        }
                        &.txt-left {
                            .inner {
                                align-items: flex-start;
                                * {text-align: left;}
                            }
                        }
                    }
                    &.empty {
                        &::before {display: none;}
                        .inner {
                            .txt-wrap {
                                p {opacity: 1;}
                            }
                        }
                    }
                    &:not(.empty) {
                        .inner {
                            .txt-wrap {
                                .project-info {
                                    strong {
                                        position: relative;
                                        bottom: -3rem;
                                        word-break: keep-all;
                                        transition: all 0.3s;
                                    }
                                    p {
                                        font-size: 2rem;
                                        opacity: 0;
                                        font-weight: 400;
                                        transition: all 0.3s;
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        a {
                            &::after {
                                opacity: 1; 
                                transform: rotate(180deg);
                            }
                        }
                        .inner {
                            .txt-wrap {
                                .label {opacity: 1;}
                                .project-info {
                                    strong {bottom: 1rem;}
                                    p {opacity: 1;}
                                }
                            }
                            .img-wrap {
                                img {
                                    transform: translate(-50%, -50%) scale(1.05);
                                    @include tablet{transform: scale(1.05);}
                                }
                            }
                        }
                    }
                }
                &.type01 {
                    li {
                        &:nth-child(1) {width: 40%;}
                        &:nth-child(2) {width: 30%;}
                        &:nth-child(3) {width: 30%;}
                    }
                }
                &.type02 {
                    li {
                        &:nth-child(1) {width: 30%;}
                        &:nth-child(2) {width: 35%;}
                        &:nth-child(3) {width: 35%;}
                    }
                }
                &.type03 {
                    li {width: calc(100% / 4);}
                }
                & + .project-list {margin-top: 1.6rem;}
            }
        }
        &.on{
            [data-aos="new-animation"]{
                transition-property: transform;
                [data-aos="new-animation"]{transform: translateY(100px)}
                &.aos-animate {transform: translateY(0)}
            }
            @include tablet{
                [data-aos="new-animation"]{transform: translateY(100px)}
                &.aos-animate {transform: translateY(0)}
            }
        }
    }
}

/* 프로젝트 상세페이지 */
#projectDetails{
    section{
        width: calc(100% - 3.2rem);
        max-width: 1840px;
        margin: 0 auto 4rem;
        // padding: 8rem 7rem;
        padding: 6% 5%; 
        @include tablet{padding: 8rem 1.6rem;}
        &:not(#overview){
            border-radius: 4rem;
            overflow: hidden;
            @include tablet{border-radius: 2rem;}
        }
        + .btn-wrap{
            width: calc(100% - 3.2rem);
            max-width: 1840px;
            margin: 6rem auto 0;
            @include flexbox(row, center, center);
            @include tablet{margin-top: 3rem;}
        }
        .tit-detail{
            font-size: 2.6rem;
            font-weight: 600;
            display: block;
            margin-bottom: 3.2rem;
            @include tablet{
                font-size: 1.8rem;
                margin-bottom: 4rem;
            }
        } 

    }
    &.orange {
        .project-info-bg{
            @include background(sub/project/details/orange, intro_pc, png, no-repeat, cover, center, center);
            @include tablet{@include background(sub/project/details/orange, intro_mb, png, no-repeat, cover, center, center);}
        }
        $colorchip :(#16AE8A, #1A9175, #8CDAC7, #FA902E, #FFF1E3);
        .color-list{
            > li {
                @for $i from 1 through length($colorchip) {
                    &:nth-child(#{$i}){
                        background: nth($colorchip, $i);
                    }
                }
            }
        }
        .font-list{*{font-family: $notosans;} @include tablet {*{font-family: $apple_gothicNeo;}}}
        #keypoint {
            background: linear-gradient(rgba($orange, 0.3), rgba(250, 46, 46, 0.3));
            .keypoint-list {
                grid-template-columns: repeat(3, 1fr);
                @include tablet_junction {
                    grid-template-columns: 1fr;
                }
                > li {
                    height: 34rem;
                    padding: 11% 15% 2%;
                    background: rgba($white, .9);
                    border: 1px solid $orange;
                    @include flexbox(row, flex-start, flex-start);
                    @include tablet_junction {
                        padding: 7% 22% 2%;
                    }
                    @include tablet {
                        padding: 11% 15% 2%;
                    }
                    .tit-num {
                        -webkit-text-stroke: 1px $orange;
                        + div {
                            > strong {
                                border-bottom: 1px solid $orange;
                                @media (max-width: 1080px) {
                                    font-size: 2.2rem;
                                }
                                @include tablet_junction {
                                    font-size: 2.8rem;
                                }
                                @include tablet {
                                    font-size: 2rem;
                                }
                            }
                            .list-type01 {
                                @include tablet {
                                    padding: 0 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        #designSystem{background: linear-gradient(rgba(75, 202, 172, 0.3), rgba(174, 173, 242, 0.3));}
    } 
    &.hyundai-robotics {
        .project-info-bg{
            @include background(sub/project/details/hyundai_robotics, intro_pc, png, no-repeat, cover, center, center);
            @include tablet{@include background(sub/project/details/hyundai_robotics, intro_mb, png, no-repeat, cover, center, center);}
        }
        $colorchip :(#3BB88C, #000000, #ffffff, #F2F2F5);
        .color-list{
            > li {
                @for $i from 1 through length($colorchip) {
                    &:nth-child(#{$i}){
                        background: nth($colorchip, $i);
                    }
                }
            }
        }
        .font-list{*{font-family: 'Noto Sans', sans-serif;}}
        #keypoint{
            background: linear-gradient(rgba($hyundai, .5), #C1E3D7);
            .keypoint-list{
                > li{
                    background: rgba($white, .8);
                    border: 1px solid $hyundai;
                    .tit-num{
                        -webkit-text-stroke: 1px $hyundai;
                        + div{
                            > strong{border-bottom: 1px solid $hyundai;}
                            .list-type01{
                                @include tablet{
                                    padding: 0 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        #designSystem{background: linear-gradient(#A7DBD7, #DCF0EF);}
    }
    &.nhbank {
        .project-info-bg{
            @include background(sub/project/details/nhbank, intro_pc, png, no-repeat, cover, center, center);
            @include tablet {@include background(sub/project/details/nhbank, intro_mb, png, no-repeat, cover, center, bottom);}
        }
        #overview{
            @include background(sub/project/details/nhbank, overview_pc, png, no-repeat, 40%, right, bottom 116px);
            @include tablet{
                background-size: 90%;
                background-position: right bottom 100px;
            }
        }
        $colorchip : (#0055A5, #BBCBD9, #484848, #D9D9D9, #FFFFFF);
        .color-list {
            > li {
                @for $i from 1 through length($colorchip) {
                    &:nth-child(#{$i}) {
                        background: nth($colorchip, $i);
                    }
                }
            }
        }
        #keypoint {
            background: linear-gradient(rgba(228, 240, 255, 0.5), rgba(216, 217, 255, 0.5));
            .keypoint-list {
                > li {
                    background: rgba($white, .8);
                    border: 1px solid $nhbank;
                    @include flexbox(row, center, center);
                    .tit-num {
                        -webkit-text-stroke: 1px $nhbank;
                        + div {
                            max-width: 624px;
                            > strong {
                                border-bottom: 1px solid $nhbank;
                                @include tablet_junction {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        #designSystem{
            background: linear-gradient(#E0EDFF, #F4F8FD);
            .flex-wrap {
                align-items: center;
                justify-content: space-between;
                gap: 5%;
                flex-wrap: nowrap;
                @include tablet_junction {
                    flex-wrap: wrap;
                    gap: 6rem;
                }
                .brand-logo {
                    @include tablet_junction {
                        margin: 0 1rem;
                    }
                }
            }
            .color-list{
                flex-wrap: nowrap;
                @include tablet_junction {
                    flex-wrap: wrap;
                }
            }
        }
    }
    &.lgstory {
        .project-info-bg{
            @include background(sub/project/details/lgstory, intro_pc, png, no-repeat, cover, center, center);
            @include tablet{@include background(sub/project/details/lgstory, intro_mb, png, no-repeat, cover, center, center);}
        }
        #overview{
            @include background(sub/project/details/lgstory, overview_pc, png, no-repeat, contain, center, center);
            @include tablet{
                @include background(sub/project/details/lgstory, overview_mb, png, no-repeat, 100%, top, center);
            }
        }
    }
    &.kita {
        .project-info-bg{
            @include background(sub/project/details/kita, intro_pc, png, no-repeat, cover, center, center);
            @include tablet{@include background(sub/project/details/kita, intro_mb, png, no-repeat, cover, center, center);}
        }
    }
    &.kitanet{
        .project-info-bg{
            @include background(sub/project/details/kitanet, intro_pc, png, no-repeat, cover, center, center);
            @include tablet{@include background(sub/project/details/kitanet, intro_mb, png, no-repeat, cover, center, center);}
        }
        $colorchip :(#327BBC, #64CEBC, #DD2B2E, #F8BB9F, #F29EC8, #8CD0EB);
        .color-list{
            > li {
                @for $i from 1 through length($colorchip) {
                    &:nth-child(#{$i}){
                        background: nth($colorchip, $i);
                    }
                }
            }
        }
        #designAll {
            background: linear-gradient(rgba(237, 237, 237, 0.5 ), rgba(237, 237, 237,0.1));
            margin: 4rem auto;
            .con-box {
                width: 100%;
                max-width: 1500px;
                .design-challenge {
                    width: 100%;
                    p {
                        font-size: 1.8rem;
                        font-weight: 400;
                        color: $black;
                    }
                    .img-wrap {
                        max-width: 1440px;
                        width: 100%;
                        padding: 3.4rem 7% 8rem;
                        @include tablet {
                            padding: 3.5rem 0 5rem;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
                #designSystem {
                    .font-list {
                        .bold-type, .regular-type {
                            strong {
                                margin-bottom: 0;
                                @include tablet {
                                    margin-bottom: 1rem;
                                }
                            }
                            div {
                                @include tablet {
                                    display: flex;
                                }
                            }
                        }
                    }
                    .flex-wrap {
                        .brand-logo {
                            @include tablet {
                                margin: 0 20%;
                            }
                        }
                    }
                }
            }
        }
        #preview02 {
            width: 100%;
            max-width: 100%;
        }
    }
    &.koreanair {
        .project-info-bg{
            @include background(sub/project/details/koreanair, intro_pc, png, no-repeat, cover, center, center);
            @include tablet{@include background(sub/project/details/koreanair, intro_mb, png, no-repeat, cover, center, center);}
        }
        #overview{
            @include background(sub/project/details/koreanair, overview_pc, png, no-repeat, 112%, center, center);
            @include tablet{@include background(sub/project/details/koreanair, overview_mb, png, no-repeat, 100%, top, center);}
        }
    }
    &.nhlife {
        .project-info-bg{
            @include background(sub/project/details/nhlife, intro_pc, png, no-repeat, cover, center, center);
            @include tablet{@include background(sub/project/details/nhlife, intro_mb, png, no-repeat, cover, center, center);}
        }
        #overview{
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 6rem;
                left: 0;
                z-index: -1;
                width: 21rem;
                height: 18.8rem;
                @include background(sub/project/details/nhlife, object_icon, png, no-repeat, contain, center, bottom);
                @include tablet{
                    width: 13.8rem;
                    height: 12.2rem;
                    top: 1.2rem;
                    left: auto;
                    right: 0;
                }
            }
        }
        #contents{
            margin-top: -30rem;
            @include tablet{margin-top: -10rem;}
        }
    }
    &.yg1 {
        .project-info-bg{
            @include background(sub/project/details/yg1, intro_pc, png, no-repeat, cover, center, center);
            @include tablet{@include background(sub/project/details/yg1, intro_mb, png, no-repeat, cover, center, center);}
        }
        #designSystem{
            background: #FBFBFB;
            .font-list-group{
                flex-direction: column;
                gap: 3rem;
                @include tablet{gap: 4rem;}
                > .flex-wrap{
                    gap: 5.4rem;
                    align-items: center;
                    flex-wrap: nowrap;
                    @include tablet{gap: 2.2rem;}
                    .font-type{
                        font-size: 1.6rem;
                        font-weight: 500;
                        @include tablet{font-size: 1.4rem;}
                        span{
                            color: $yg1;
                            margin-right: 0;
                        }
                    }
                    .flex-wrap{
                        gap: 5.4rem;
                        flex-wrap: wrap;
                        @include tablet{
                            gap: 2.2rem;
                            flex-direction: column;
                        }
                        > div{
                            min-width: 33rem;
                            @include flexbox(column, flex-start, flex-start);
                            @include tablet{
                                min-width: auto;
                            }
                            > span{
                                font-size: 3.2rem;
                                @include tablet{font-size: 2rem;}
                            }
                        }
                    }
                }
            }
        }
        $colorchip :(#ED1C24, #222222, #656565, #aaaaaa, #dddddd, #ffffff);
        .color-list{
            > li {
                @for $i from 1 through length($colorchip) {
                    &:nth-child(#{$i}){
                        background: nth($colorchip, $i);
                    }
                }
            }
        }
    }
    &.koica {
        .project-info-bg{
            @include background(sub/project/details/koica, intro_pc, png, no-repeat, cover, center, center);
            @include tablet{@include background(sub/project/details/koica, intro_mb, png, no-repeat, cover, center, center);}
        }
        #overview{
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 3rem;
                right: 0;
                z-index: -1;
                width: 18rem;
                height: 18.8rem;
                @include background(sub/project/details/koica, object_icon, png, no-repeat, contain, center, bottom);
                @include tablet{
                    width: 10.2rem;
                    height: 10.2rem;
                    top: 4rem;
                }
            }
        }
        #designSystem{
            background: linear-gradient(rgba(#3941A5, .5), rgba(#3941A5, .1));
            .font-list{
                border-bottom: 0;
                padding-bottom: 0;
                &-group{
                    gap: 0;
                    > .flex-wrap{
                        padding: 4rem 0;
                        width: 100%;
                        max-width: 1502px;
                        align-items: center;
                        gap: 2rem 0;
                        > div:not(.category){
                            min-width: 48rem;
                            @include tablet{min-width: auto;}
                        }
                        &:not(:first-child){border-top: 1px solid $white;}
                        @include tablet{
                            &:first-child{padding-top: 0;}
                            padding: 3rem 0;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 1.6rem;
                        }
                    }
                }
            }
            .color-list{
                &:not(:last-child){
                    margin-bottom: 12rem;
                    @include tablet{margin-bottom: 6.8rem;}
                }
                margin-left: 0;
                margin-right: 0;
                img{max-width: 100%;}
            }
        }
    }
    #projectInfo{
        margin: 14rem auto 0;
        padding: 17rem 0 3.6rem; 
        @include tablet{
            margin-top: 9.6rem;
            padding: 13.4rem 0 2rem;
        }
        .project-info-bg{
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            text-indent: -9999em;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                background: rgba($black, .5);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .project-info{
            position: relative;
            z-index: 1;
            *{color: $white;}
            @include tablet{width: 80%;}
            .tag-list{
                justify-content: center;
                gap: 0;
                @include tablet{
                    flex-direction: column;
                    align-items: center;
                }
                > li{
                    @include flexbox(row, flex-start, flex-start);
                    gap: 0.8rem 0;
                    padding: 0 3rem;
                    position: relative;
                    @include tablet{
                        padding: 1.4rem 0;
                    }
                    &:not(:first-child){
                        &::before{
                            content: '';
                            display: block;
                            width: 1px;
                            height: 50%;
                            background: rgba($white, .6);
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            @include tablet{
                                width: 1.2rem;
                                height: 1px;
                                top: 0;
                                left: 50%;
                                transform: translate(-50%,0);
                            }
                        }
                    }
                    &.tag-2row {
                        @include tablet {
                            width: 18.5rem;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .tag-item{
                        box-shadow: none;
                        background: transparent;
                        border: 1px solid rgba($white, .6);
                        color: rgba($white, .6);
                        display: inline-block;
                        margin: 0 0.4rem;
                    }
                }
            }
            > h2{
                font-family: $pretendard;
                margin: 2.8rem 0 9.8rem;
                display: block;
                font-size: 5.6rem;
                font-weight: bold;
                text-align: center;
                line-height: 1.3;
                @include tablet{
                    font-size: 3.2rem;
                    margin: 2.4rem 0 8.4rem;
                }
            }
            > p{
                font-weight: 500;
                font-size: 2rem;
                text-align: center;
                color: rgba(255, 255, 255, 0.6);
                @include tablet{font-size: 1.2rem;}
            }
            .scroll-info{
                margin-top: 9.8rem;
                text-align: center;
                @include tablet{margin-top: 18rem;}
                > span{
                    font-size: 1.8rem;
                    font-weight: 500;
                    display: block;
                    color: $white; 
                    margin-bottom: 1.4rem;
                    @include tablet{
                        font-size: 1.4rem;
                        margin-bottom: 0.8rem;
                    }
                }
                > img{
                    animation: scroll_ani .5s both alternate infinite;
                }
            }
        }
    }
    #overview{
        z-index: 10;
        padding: 16rem 0;
        margin-bottom: 0;
        @include tablet{padding: 8rem 0;}
        > .con-box{
            max-width: 1364px;
            width: calc(100% - 2.8rem);
        }
        .overview-info{
            > div{
                @include flexbox(row, space-between, flex-start);
                gap: 1.6rem;
                @include tablet{
                    flex-direction: column;
                    gap: 4rem;
                }
                &:last-child{
                    align-items: center;
                    margin-top: 4.6rem;
                    @include tablet{
                        flex-direction: column-reverse;
                        margin-top: 4rem;
                        gap: 6rem;
                    }
                }
                > h2, .btn-wrap{
                    width: 40%;
                    @include tablet{width: 100%;}
                }
                > p, ul{
                    width: 60%;
                    @include tablet{width: 100%;}
                }
                h2{
                    font-size: 6.4rem;
                    line-height: 1.2;
                    font-weight: bold; 
                    display: block;
                    word-break: keep-all;
                    @include tablet{font-size: 4rem;}
                }
                p{
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 3.4rem;
                    @include tablet{
                        font-size: 1.4rem;
                        line-height: 2.6rem;
                    }
                }
                ul{
                    @include flexbox(row, flex-start, center);
                    gap: 8rem;
                    @include tablet{
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1.2rem;
                    }
                    li{
                        span{
                            font-size: 2rem;
                            font-weight: 500;
                            @include tablet{font-size: 1.4rem;}
                            &:first-child{font-weight: bold;}
                            &:not(:first-child){
                                &::before{
                                    content: '·';
                                    display: inline-block;
                                    margin: 0 1rem;
                                }
                            }
                        }
                    }
                }
                button{
                    @include flexbox(row, center, center);
                    gap: .6rem;
                    @include tablet{max-width: 24rem !important;}
                    &::after{
                        content: '';
                        display: inline-block;
                        width: 1.8rem;
                        height: 2rem;
                        @include background(icon, link_arrow_icon, png, no-repeat, contain, center, center);
                    }
                }
            }
        }
    }
    #keypoint{
        border-radius: 5rem;
        @include tablet_junction{width: calc(100% - 3.2rem);}
        @include tablet{
            padding: 6rem 0;
            border-radius: 3rem;
        }
        > .con-box{width: calc(100% - 2.8rem);}
        .keypoint-list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;
            @include tablet_junction{
                grid-template-columns: 1fr;
                gap: 3rem;
            }
            > li{
                height: 32rem;
                border-radius: 3rem;
                overflow: hidden;
                padding: 2% 5%;
                position: relative;
                @include flexbox(row, flex-start, center);
                @include tablet{
                    height: auto;
                    padding: 7.8rem 2.4rem 4rem;
                }
                .tit-num{
                    font-size: 12rem;
                    font-weight: 800;
                    color: rgba($white, 0);
                    position: absolute;
                    top: -2rem;
                    left: -1rem;
                    opacity: .5;
                    z-index: 0;
                    + div{
                        position: relative;
                        z-index: 1;
                        > strong{
                            font-weight: 800;
                            font-size: 2.8rem;
                            word-break: keep-all;
                            line-height: 3.8rem;
                            display: block;
                            margin-bottom: 2.4rem;
                            padding-bottom: 1.6rem;
                            @include tablet{
                                font-size: 2rem;
                                line-height: 3rem;
                                text-align: center;
                                padding-bottom: .8rem;
                            }
                        }
                        .list-type01{
                            @include tablet{
                                padding: 0 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
    #designSystem{
        border-radius: 3rem;
        > .con-box{
            width: 100%;
            max-width: 1500px;
            margin: 0;
        }
        .brand-logo{
            img{max-width: 100%;}
            @include tablet{width: 100%;}
        }
        .font-list{
            padding-bottom: 7rem;
            margin-bottom: 8rem;
            border-bottom: 1px solid $black;
            @include tablet{
                padding-bottom: 3.8rem;
                margin-bottom: 3.8rem;
            }
            &-group{
                @include flexbox(row, flex-start, flex-start);
                flex-wrap: wrap;
                gap: 4.8rem;
                @include tablet{
                    flex-direction: column;
                    gap: 2.2rem;
                }
                > li{
                    flex-wrap: wrap;
                    .category-tit{
                        min-width: 14rem;
                        height: 14rem;
                        border-radius: 50%;
                        font-size: 2rem;
                        font-weight: bold;
                        border: 1px solid $yg1;
                        color: $yg1;
                        @include flexbox(row, center, center);
                        @include tablet{
                            min-width: 11rem;
                            height: 11rem;
                            font-size: 1.6rem;
                        }
                    }
                    .category{
                        min-width: 16.4rem;
                        font-size: 1.8rem;
                        color: $koica;
                        line-height: 1.5;
                        @include tablet{@include flexbox(row, flex-start, center);}
                        > strong{
                            font-weight: bold;
                            position: relative;
                            @include tablet{
                                padding-right: 1rem;
                                margin-right: 1rem;
                                &::after{
                                    content: '';
                                    width: 2px;
                                    height: 60%;
                                    background: #767676;
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    > div:not(.category){
                        strong{
                            font-size: 4.8rem;
                            display: block;
                            margin-bottom: 1rem;
                            line-height: 1.2;
                            @include tablet{font-size: 2.4rem;}
                        }
                        span{
                            font-size: 1.8rem;
                            line-height: 1.5;
                            &:first-child{
                                margin-right: 1.4rem;
                                @include tablet{margin-right: 2.4rem;}
                            }
                            @include tablet{font-size: 1.4rem;}
                        }
                    }
                }
            }
            + .flex-wrap{
                align-items: center;
                flex-wrap: wrap;
                gap: 2rem 5%;
            }
        }
        .color-list{
            @include flexbox(row, flex-start, center);
            flex-wrap: wrap;
            gap: 2.4rem;
            @include tablet{
                gap: 1.4rem;
                margin: 0 .8rem;
            }
            > li{
                width: 14rem;
                height: 14rem;
                border-radius: 50%;
                font-size: 1.8rem;
                font-weight: 500;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 8px 0px;
                &.white{color: $white;}
                @include flexbox(row, center, center);
                @include tablet{
                    width: 8.8rem;
                    height: 8.8rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
    #preview, #preview02{
        padding: 0;
        margin-bottom: 0;
        .img-wrap{
            &:not(:last-child){margin-bottom: 6rem;}
            img{max-width: 100%;}
        }
    }
    #contents {
        .img-wrap {
            max-width: 100%;
            img {width: 100%;}
        }
        .btn-wrap {
            width: 100%;
            text-align: center;
            margin-top: 6rem;
            @include tablet {
                margin-top: 2.4rem;
            }
            button {max-width: 24rem;}
        }
    }
}