#story{
    #container{
        .date{
            color: #aaa;
            font-size: 2rem;
            line-height: 2.6rem;
            @include tablet{font-size: 1.4rem;}
        }
        #intro{
            .intro-bg{
                background-position: left bottom -120px;
                @include tablet{
                    background-position: left bottom;
                }
            }
            &.datail{
                background: $black;
                @include notebook{padding: 15.6rem 0 0;}
                .character{
                    width: 22.6rem;
                    height: 28.8rem;
                    display: block;
                    position: absolute;
                    right: 12%;
                    bottom: 0;
                    text-indent: -9999em;
                    @include notebook{
                        width: 12.4rem;
                        height: 16rem;
                        position: static;
                        margin: 3.2rem auto 0;
                    }
                }
                &.jane {
                    background:$jane;
                    .character{@include background(common/character, character_jane, png, no-repeat, contain, center, bottom);}
                }
                &.anna {background:$anna;}
                &.jasmine {background:$jasmine;}
                &.steven {
                    background: $steven;
                    .character{@include background(common/character, character_steven, png, no-repeat, contain, center, bottom);}
                }
                &.woody {
                    background: $woody;
                    .character{@include background(common/character, character_woody, png, no-repeat, contain, center, bottom);}
                }
                &.summer {
                    background:$summer;
                    .character{@include background(common/character, character_summer, png, no-repeat, contain, center, bottom);}
                }
                &.felix {
                    background:$felix;
                    .character{@include background(common/character, character_felix, png, no-repeat, contain, center, bottom);}
                }
                &.sophia {
                    background:$sophia;
                    .character{@include background(common/character, character_sophia, png, no-repeat, contain, center, bottom);}
                }
                &.nia {
                    background:$nia;
                    .character{@include background(common/character, character_nia, png, no-repeat, contain, center, bottom);}
                }
                &.jason {
                    background:$jason;
                    .character{@include background(common/character, character_jason, png, no-repeat, contain, center, bottom);}
                }
                &.milky {
                    background:$milky;
                    .character{@include background(common/character, character_milky, png, no-repeat, contain, center, bottom);}
                }
                &.noah {
                    background:$noah;
                    .character{@include background(common/character, character_noah, png, no-repeat, contain, center, bottom);}
                }
                &.jinny {
                    background: $jinny;
                    .character{@include background(common/character, character_jinny, png, no-repeat, contain, center, bottom);}
                }
                .tag-list{justify-content: center;}
                .intro-tit{
                    > h2{
                        font-family: $montserrat;
                        margin-top: 1.2rem;
                        margin-bottom: 6.2rem;
                        @include tablet{
                            font-size: 2rem;
                            line-height: 3.2rem;
                            margin: 1rem 0 2.4rem;
                        }
                    }
                    > p{@include tablet{font-size: 1.4rem;}}
                }
            }
            &.datail + section{margin-top: 0;}
        }
        #categories{
            .category-list-wrap{
                .category-content-wrap{
                    width: 100%;
                    max-width: 1088px;
                    margin: 9rem auto 16.8rem;
                    @include tablet{margin: 6rem auto 12.4rem;}
                    p{  
                        max-width: 81.2rem;
                        margin: 0 auto;
                        font-size: 2rem;
                        line-height: 3rem;
                        @include tablet{
                            font-size: 1.6rem;
                            line-height: 2.6rem;
                        }
                    }
                    .img-wrap{
                        width: 100%;
                        margin: 6rem 0;
                        @include flexbox(row, center, center);
                        @include tablet{margin: 3.6rem 0;}
                        > img{max-width: 81.2rem;
                        width: 100%;}
                        &.emoji{
                            img{
                                width: auto;
                                max-width: 100%;
                            }
                        }
                    }
                    button{
                        margin: 4rem auto 0;
                        display: block;
                    }
                }
                .more-story{
                    > strong{
                        color: $purple;
                        font-size: 6rem;
                        font-weight: bold;
                        text-align: center;
                        display: block;
                        position: relative;
                        margin-bottom: 4rem;
                        @include tablet{font-size: 1.8rem;}
                        &::after{
                            content: '';
                            display: block;
                            width: 7.4rem;
                            height: 1.6rem;
                            background: $purple;
                            border-radius: 5rem;
                            position: absolute;
                            top: -3.2rem;
                            left: 50%;
                            transform: translateX(-50%);
                            @include tablet{
                                width: 3.2rem;
                                height: 0.8rem;
                                top: -1.6rem;
                            }
                        }
                    }
                    .category-list {
                        @include flexbox (row, center, center);
                        @include tablet {
                            display: grid;
                        }
                        .story-tit {
                            font-size: 2.4rem;
                            @include notebook {
                                font-size: 3.2rem;
                            }
                            @include tablet {
                                font-size: 5.8vw;
                            }
                        }
                        .tit-emphasis {
                            @include notebook {
                                padding: 0 4rem;
                            }
                            @include mobile {
                                padding: 0 2rem;
                            }
                            &::before, &::after {
                                @include notebook {
                                    width: 2.6rem;
                                    height: 2.1rem;
                                }
                                @include mobile{
                                    width: 1.5rem;
                                    height: 1.2rem;
                                }
                            }
                        }
                        .tag-list{
                            flex-wrap: wrap;
                            .tag-item{
                                @include notebook {
                                    font-size: 1.9rem;
                                    padding: 1.6rem 1.8rem;
                                }
                                @include tablet {
                                    font-size: 1.4rem;
                                    padding: 1.2rem 1.3rem;
                                }
                            }
                        }
                        .flex-wrap {
                            .members-wrap {
                                .icon-member {
                                    @include notebook {
                                        width: 4.5rem;
                                        height: 4.5rem;
                                        font-size: 3.2rem;
                                    }
                                    @include tablet {
                                        width: 3.4rem;
                                        height: 3.4rem;
                                        font-size: 2.5rem;
                                    }
                                }
                                .writer {
                                    @include notebook {
                                        font-size: 2.7rem;
                                    }
                                    @include tablet {
                                        font-size: 2rem;
                                    }
                                }
                            }
                            .date {
                                @include notebook {
                                    font-size: 2.7rem;
                                }
                                @include tablet {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}