#about{
    #container{
        #intro{
            .intro-bg{
                background: rgb(255,255,255);
                background: linear-gradient(0deg, rgba(255,255,255,1) 3%, rgba(173,173,241,1) 35%, rgba(106,106,230,1) 100%);
            }
            .intro-tit{
                > h2{text-transform: none;}
            }
        }
        #introCont{
            .tag{
                width: 100%;
                max-width: 1280px;
                min-height: 42rem;
                margin: 0 auto;
                border: 1px solid #000;
                position: relative;
                // @include flexbox(row, space-around, flex-start);
                &-info{
                    border: 1px solid #000;
                    width: 100%;
                    height: 16rem;
                    margin: 0 auto;
                    text-align: center;
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                    padding: 2.6rem 1.6rem;
                    @include flexbox(row, center, center);
                    @include background(sub/about, tag_info_bg, png, no-repeat, 100%, left, center);
                }
                &-icon{
                    img{
                        width: 100%;
                        display: block;
                    }
                }
                > div{
                    width: calc(100% / 3);
                    border: 1px solid red;
                    position: absolute;
                    top: 0;
                    z-index: 0;
                    &:nth-child(1){left: 0;}
                    &:nth-child(2){
                        margin-top: 8rem;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                        .tag-icon{
                            width: 110%;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &:nth-child(3){
                        margin-top: 1.6rem;
                        right: 0;
                    }
                }
            }
            .line-cont{
                // margin-top: 10rem;
                border: 1px solid #000;
                .line-wrap{
                    position: relative;
                    width: 100%;
                    min-height: 34rem;
                    .line{
                        width: 100%;
                        position:absolute;
                        top: 50%;
                        border: 1px solid #000;
                        transform: translateY(-50%) rotate(-5deg);
                        @include flexbox(row, flex-start, center);
                        &.purple{
                            transform: translateY(-50%) rotate(5deg);
                            p{
                                background: $purple;
                                color: $white;
                                &::before{filter: invert(40%) sepia(75%) saturate(690%) hue-rotate(206deg) brightness(95%) contrast(90%);}
                            }
                        }
                        p{
                            background:#F8F8F8; 
                            width: 66rem;
                            font-family: $montserrat;
                            font-size: 2.8rem;
                            white-space: nowrap;
                            position: relative;
                            @include flexbox(row, flex-start, center);
                            &::before {
                                content: '';
                                display:inline-block; 
                                width: 4.8rem; 
                                height: 4.8rem; 
                                @include background(icon, intro_line_icon, png, no-repeat, contain, center, center);
                                margin:0 0.6rem;
                            }
                        }
                    }
                }
            }
        }
        #group{
            padding: 8rem 0;
            &::after{
                content: '';
                width: calc(100% - 2rem);
                max-width: 1840px;
                height: 100%;
                position: absolute;
                left: 50%;
                top: 0;
                z-index: -1;
                transform: translateX(-50%);
                border-radius: 5rem;
                background: #E8E8FF;
            }
            .sec-tit{margin-bottom: 6rem;}
            .group-chart{
                .img-wrap{
                    > img{
                        max-width: 100%;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
        #member{
            padding: 14rem 0 10rem;
            @include tablet{padding: 8rem 0 0;}
            .sec-tit{
                margin-bottom: 9.4rem;
                width: calc(100% - 6rem);
                margin: 0 auto;
            }
            .member-wrap{
                &:not(:first-child){
                    margin-top: 8rem;
                    @include tablet{margin-top: 6rem;}
                }
                > .team-name{
                    font-family: $panchang;
                    font-size: 6.2rem;
                    font-weight: bold;
                    line-height: 12rem;
                    color: #F4F4F4;
                    white-space: nowrap;
                    @include tablet{
                        font-size: 3.2rem;
                        line-height: 3.8rem;
                    }
                }
                .member-list{
                    @include flexbox(row, center, center);
                    gap: 3.6rem 1.6rem;
                    flex-wrap: wrap;
                    @include tablet_junction{
                        justify-content: space-between;
                        gap: 1.8rem;
                    }
                    > li{
                        width: calc(100% / 4 - 1.2rem);
                        @include tablet_junction{width: calc(100% / 2 - 1.2rem);}
                        @include tablet{
                            width: 100%;
                            &:nth-child(even){
                                .character{
                                    @include tablet{
                                        margin-left: auto !important;
                                        margin-right: 0 !important;
                                    }
                                }
                                .introductory{justify-content: flex-start !important;}
                            }
                        }
                        &.jane{
                            .introductory{
                                border-color: $jane;
                                > p{&::before, &::after{filter: $f-jane;}}
                            }
                        }
                        &.anna{
                            .introductory{
                                border-color: $anna;
                                > p{&::before, &::after{filter: $f-anna;}}
                            }
                        }
                        &.jasmine{
                            .introductory{
                                border-color: $jasmine;
                                > p{&::before, &::after{filter: $f-jasmine;}}
                            }
                        }
                        &.steven{
                            .introductory{
                                border-color: $steven;
                                > p{&::before, &::after{filter: $f-steven;}}
                            }
                        }
                        &.woody{
                            .introductory{
                                border-color: $woody;
                                > p{&::before, &::after{filter: $f-woody;}}
                            }
                        }
                        &.summer{
                            .introductory{
                                border-color: $summer;
                                > p{&::before, &::after{filter: $f-summer;}}
                            }
                        }
                        &.felix{
                            .introductory{
                                border-color: $felix;
                                > p{&::before, &::after{filter: $f-felix;}}
                            }
                        }
                        &.sophia{
                            .introductory{
                                border-color: $sophia;
                                > p{&::before, &::after{filter: $f-sophia;}}
                            }
                        }
                        &.nia{
                            .introductory{
                                border-color: $nia;
                                > p{&::before, &::after{filter: $f-nia;}}
                            }
                        }
                        &.jason{
                            .introductory{
                                border-color: $nia;
                                > p{&::before, &::after{filter: $f-nia;}}
                            }
                        }
                        &.jason{
                            .introductory{
                                border-color: $jason;
                                > p{&::before, &::after{filter: $f-jason;}}
                            }
                        }
                        &.milky{
                            .introductory{
                                border-color: $milky;
                                > p{&::before, &::after{filter: $f-milky;}}
                            }
                        }
                        &.noah{
                            .introductory{
                                border-color: $noah;
                                > p{&::before, &::after{filter: $f-noah;}}
                            }
                        }
                        &.jinny{
                            .introductory{
                                border-color: $jinny;
                                > p{&::before, &::after{filter: $f-jinny;}}
                            }
                        }
                        > a{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            > div{
                                &:first-child{
                                    position: relative;
                                    .character{
                                        width: 40%;
                                        margin: 0 auto;
                                        @include tablet{
                                            position: relative;
                                            z-index: 1;
                                            margin: 0;
                                        }
                                        > img{
                                            max-width: 100%;
                                            display: block;
                                            margin: 0 auto;
                                        }
                                    }
                                    .introductory{
                                        width: 100%;
                                        height: 8rem;
                                        padding: 1rem;
                                        background: $white;
                                        border: 1px solid $black;
                                        border-radius: 1rem;
                                        color: $black;
                                        text-align: center;
                                        font-weight: 500;
                                        line-height: 2.6rem;
                                        @include flexbox(row, center, center);
                                        @include tablet{
                                            height: 9.6rem;
                                            position: absolute;
                                            left: 0;
                                            bottom: 0;
                                            z-index: 0;
                                            justify-content: flex-end;
                                        }
                                        > p{
                                            position: relative;
                                            padding: 0 3rem;
                                            @include tablet{
                                                width: calc(62% - 1rem);
                                                font-size: 1.4rem;
                                                line-height: 2.6rem;
                                                padding: 0 1.2rem;
                                            }
                                            &::before, &::after{
                                                content:"";
                                                display:inline-block;
                                                width: 2rem;
                                                height: 1.6rem;
                                                position:absolute;
                                                z-index: 0;
                                                @include background(icon, icon_dobule_dot, svg, no-repeat, contain, center, center);
                                                @include tablet{
                                                    width: 1.2rem;
                                                    height: 1rem;
                                                }
                                            }
                                            &::before{
                                                top: 0;
                                                left: 0;
                                            }
                                            &::after{
                                                bottom: 0;
                                                right: 0;
                                                transform:rotate(180deg);
                                            }
                                        }
                                    }
                                }
                            }
                            .flex-wrap{
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 1rem;
                                .team-name{
                                    font-weight: 500;
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}