.job {
    section{
        width: calc(100% - 60rem);
        max-width: 1640px;
        margin: 0 auto;
        position: relative;
        word-break: keep-all;
        &.w_100{
            width: 100%;
            max-width: 100%;
        }
        &#intro{
            // position: relative;
            // height: 100vh;
            // overflow: hidden;
            // height: calc(100vh - 80rem);
            height: auto;
            @include pc{height: calc(100vh - 80rem);}
            .intro-tit{
                position: relative;
                width: calc(100% - 60rem);
                margin: 0 auto;
                span{
                    width: 1px;
                    height: 0;
                    background: $white;
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    transform: translateX(-50%);
                    margin-top: 24rem;
                    animation: titMotion 1.5s both;
                }
                // @include pc{
                //     &::after{
                //         content: '';
                //     }
                // }
            }
            .intro-con{
                width: 100%;
                padding: 50rem 0;
                margin-top: 40rem;
                position: relative;
                &::after{display: none;}
                @include pc{
                    background: none;
                    position: absolute;
                    padding:50rem 0 80rem;
                    bottom: 0;
                    left: 0;
                    // &::after{
                    //     content: '';
                    //     display: block;
                    //     border-radius: 20px 0 0 0;
                    //     width: 100%;
                    //     max-width: 1504px;
                    //     height: 100%;
                    //     background: $white;
                    //     position: absolute;
                    //     right: 0;
                    //     bottom: 0;
                    //     z-index: -1;
                    // }
                }
                .intro-con-tit{
                    width: calc(100% - 60rem);
                    max-width: 1454rem;
                    display: flex;
                    flex-direction: column;
                    gap: 20rem;
                    margin-left: auto;
                    margin-right: 0;
                    opacity: 0;
                    animation: opacityTo100 .5s 1.2s both;
                    @include pc{
                        flex-direction: row;
                        align-items: center;
                        gap: 130rem;
                        opacity: 1;
                        animation: none;
                    }
                    @media (max-width: 1000px){
                        margin: 0 auto;
                    }
                    > strong{
                        font-family: $mont;
                        font-size: 24rem;
                        font-weight: bold;
                        color: #6A6AE6;
                        @include pc{
                            font-size: 48rem;
                            line-height: 56rem;
                        }
                    }
                    > p{
                        font-size: 16rem;
                        line-height: 28rem;
                        @include pc{
                            font-size: 20rem;
                        }
                    }
                }
                .intro-slide{
                    // padding-bottom: 115rem;
                    
                    .team-name{
                        font-size: 18rem;
                        font-weight: bold;
                        color: #6A6AE6;
                        @include pc{
                            font-size: 24rem;
                        }
                    }
                    .team-info{
                        margin-top: 6rem;
                        font-size: 14rem;
                        @include pc{
                            margin-top: 20rem;
                            font-size: 18rem;
                        }
                        p{
                            @include ellipsis(3);
                            font-size: 14rem;
                            line-height: 24rem;
                            min-height:48rem;
                        }
                        .members-wrap{
                            margin-top: 10rem;
                            &.flex-wrap{
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                            }
                        }
                    }
                    &.d-pc{
                        width: 100%;
                        height: auto;
                        margin: 60rem auto 0;
                        transform: translateY(0);
                        opacity: 1;
                        animation: none;
                        .swiper{
                            height: 100%;
                            overflow: visible;
                            margin-left: 270rem;
                            .swiper-slide{
                                @include whiteBox;
                                padding: 20rem;
                            }
                        }
                    }
                    &.d-mb{
                        @include pc{display: none;}
                        display: block;
                        width: calc(100% - 60rem);
                        height: 360rem;
                        margin: 40rem auto 65rem;
                        position: relative;
                        transform: translateY(20rem);
                        opacity: 0;
                        animation: mobileSlider .5s 1.8s both;
                        .swiper{
                            height: 100%;
                            overflow: visible;
                            .swiper-slide{
                                display: flex;
                                flex-direction: column;
                                gap: 16rem;
                                > div{
                                    @include whiteBox;
                                    padding: 20rem 14rem;
                                }
                            }
                        }
                        .swiper-pagination { bottom:-20rem; }
                    }
                    // .swiper-pagination-vertical.swiper-pagination-bullets, 
                    // .swiper-vertical>.swiper-pagination-bullets{
                    //     top: auto !important;
                    //     right: auto !important;
                    //     transform: translateX(-50%) !important;
                    //     bottom: -40rem;
                    //     left: 50%;
                    //     display: flex;
                    //     flex-direction: row;
                    // }
                    .swiper-pagination-bullets.swiper-pagination-horizontal{
                        @include pc() {
                            bottom: -56rem;
                        }
                    }
                    .swiper-pagination-bullet{
                        background: $purple;
                        opacity: .2;
                        margin: 0 5rem;
                        @include pc () {
                            width:12rem;
                            height:12rem;
                        }
                        width:8rem;
                        height:8rem;
                        
                    }
                    .swiper-pagination-bullet-active{opacity: 1;}
                }
            }
            .intro-con-bg{
                width: 100%;
                max-width: 1504px;
                // height: 100%;
                height: 0;
                border-radius: 40px 40px 0 0;
                background: $white;
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: -1;
                text-indent: -9999em;
                transition: height .35s;
                animation: heightTo100 1s both;
                @include pc{
                    height: 100%;
                    border-radius: 20px 0 0 0;
                    animation: none;
                }
            }
        }
        &#welfare{
            padding: 60rem 0; 
            @include pc{padding: 130rem 0 100rem;}
            &::before{
                content: '';
                display: inline-block;
                width: 100vw;
                height: 100%;
                background: #F8F8F8;
                position: absolute;
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                z-index: -1;
            }
            .welfare-tit{
                position: relative;
                margin: 0 auto;
                > div{
                    position: relative;
                    text-align: center;
                    > strong{
                        font-family: $mont;
                        font-size: 36rem;
                        font-weight: bold;
                        line-height: 56rem;
                        margin-bottom: 0;
                        color: $purple;
                        position: relative;
                        z-index: 1;
                        @include pc{
                            font-size: 60rem;
                            line-height: 72rem;
                        }
                        .icon-smile{
                            position: absolute;
                            top: -30rem;
                            left: 30rem;
                            z-index: -1;
                            transform: scale(0);
                            transition: all .35s;
                            &.on{transform: scale(1);}
                            @include pc{
                                width: 104rem;
                                height: 104rem;
                            }
                            &.purple{
                                width: 78rem;
                                height: 78rem;
                                left: auto;
                                top: auto;
                                right: -58rem;
                                bottom: -86rem;
                            }
                        }
                    }
                }
                > p{
                    font-size: 16rem;
                    line-height: 28rem;
                    text-align: center;
                    margin-top: 0;
                    @include pc{
                        font-size: 18rem;
                        margin-top: 50rem;

                    }
                }
            }
            .welfare-info{
                .welfare-info-tit{
                    text-align: right;
                    position: relative;
                    @include pc{text-align: center;}
                    .tit-clip{
                        display: inline-block;
                        font-size: 16rem;
                        font-weight: 800;
                        background: $yellow;
                        color: $purple;
                        border-radius: 40px;
                        padding: 10rem 24rem;
                        transform: rotate(12deg) scale(0);
                        margin-right: -12rem;
                        box-shadow: 0px 3px 6px 3px rgba(106,106,230,0.15);
                        transition: all .35s;
                        &.on{transform: rotate(12deg) scale(1);}
                        @include pc{
                            font-size: 20rem;
                            margin-bottom: 70rem;
                            transform: rotate(0deg) scale(0);
                            margin-right: 0;
                            &.on{transform: rotate(0deg) scale(1);}
                        }
                    }
                }
                > div{
                    position: relative;
                    display: none;
                    &.active{display: block;}
                    .icon-clip{
                        position: absolute;
                        right: -14rem;
                        top: -56rem;
                    }
                    .icon-circle{
                        &.a30{
                            @include pc{
                                width: 60rem;
                                height: 60rem;
                            }
                        }
                    }
                    &:first-child{
                        display: block;
                        margin-top: 50rem;
                        .icon-clip{top: -20rem;}
                        ul{
                            flex-direction: column;
                            gap: 54rem;
                            @include pc{
                                gap: 0;
                                flex-direction: row;
                            }
                            > li{
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                @include pc{
                                    // width: calc(100% / 3 - 34rem);
                                    width: calc(100% / 3);
                                    flex-direction: row;
                                    gap: 32rem;
                                }
                                .welfare-icon{
                                    width: 65rem;
                                    height: 65rem;
                                    margin-left: 0;
                                    margin-right: auto;
                                }
                                .welfare-description{
                                    width: 100%;
                                    text-align: left;
                                    > h4{
                                        font-size: 24rem;
                                        position: relative;
                                        display: inline-block;
                                        .icon-smile{
                                            position: absolute;
                                            bottom: -10rem;
                                            right: -38rem;
                                            z-index: -1;
                                        }
                                    }
                                    > p{
                                        margin-top: 10rem;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        margin-top: 50rem;
                        @include pc{margin-top: 80rem;}
                    }
                    &:nth-child(3){
                        margin-top: 80rem;
                        .tit-clip{
                            margin-bottom: 34rem;
                            @include pc{margin-bottom: 70rem;}
                        }
                        @include pc{margin-top: 140rem;}
                    }
                    ul{
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 40rem 0;
                        @include pc{
                            // gap: 80rem 24rem;
                            gap: 80rem 0;
                        }
                        > li{
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            padding-left: 0;
                            gap: 12rem;
                            @include pc{
                                width: calc(100% / 4);
                                padding-left: 16rem;
                                flex-direction: row;
                                gap: 32rem;
                            }
                            .welfare-icon{
                                width: 65rem;
                                height: 65rem;
                                margin: 0 auto;
                                position: relative;
                                img { 
                                    width:100%;
                                    height:100%;
                                    object-fit:contain; 
                                }
                                @include pc{
                                    margin: 0;
                                    width: 80rem;
                                    height: 80rem;
                                }
                                .icon-circle{
                                    position: absolute;
                                    top: -20rem;
                                    left: -20rem;
                                    z-index: -1;
                                }
                                // &::after{
                                //     content: '';
                                //     width: 60rem;
                                //     height: 60rem;
                                //     background: rgba(255, 231, 92, 0.3);
                                //     border-radius: 50%;
                                //     position: absolute;
                                //     top: -20rem;
                                //     left: -20rem;
                                //     z-index: -1;
                                // }
                            }
                            .welfare-description{
                                // margin: 12rem auto 0;
                                width: 80%;
                                margin: 0 auto;
                                text-align: center;
                                @include pc{
                                    width: 100%;
                                    text-align: left;
                                }
                                > h4{
                                    font-size: 20rem;
                                    font-weight: bold;
                                }
                                > p{
                                    font-size: 16rem;
                                    line-height: 24rem;
                                    word-wrap: keep-all;
                                    @include pc{
                                        font-size: 16rem;
                                        line-height: 26rem;
                                    }
                                    .emphasis{
                                        position: relative;
                                        &::after{
                                            content: '';
                                            width: 100%;
                                            height: 60%;
                                            background: #FFE75C;
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            z-index: -1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                button{
                    width: 80%;
                    max-width: 240rem;
                    margin: 54rem auto 0;
                    // border: 1px solid #6A6AE6;
                    > span{
                        width: 16rem;
                        height: 16rem;
                        margin-left: 12rem;
                        position: relative;
                        &::after, &::before{
                            content: '';
                            display: inline-block;
                            background: $white;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                        &::after{
                            width: 100%;
                            height: 2rem;
                        }
                        &::before{
                            height: 100%;
                            width: 2rem;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }
                    @include pc{
                        margin: 100rem auto 0;
                    }
                    &.active{
                        > span{
                            &::before{display: none;}
                        }
                    }
                    // &::after{
                    //     content: '';
                    //     display: inline-block;
                    //     vertical-align: middle;
                    //     margin-left: 10rem;
                    //     width: 16rem;
                    //     height: 16rem;
                    //     background: url(../../assets/images/common/icon_more.png) no-repeat center/ contain;
                    // }
                }
            }
        }
        &#hiring{
            padding: 104rem 0 80rem;
            @include pc{padding: 130rem 0 160rem;}
            .hiring-tit{
                text-align: center;
                img{
                    margin-left: -48rem;
                    width: 378rem;
                    display: block;
                    @include pc{
                        margin: 0 auto;
                    }
                }
                .border-type{
                    width: 100%;
                    span{
                        font-family: $mont;
                        font-size: 84rem;
                        font-weight: bold;
                        line-height: 165rem;
                        color: transparent;
                        -webkit-text-stroke: 1px $purple;
                        margin-left: -100%;
                        transition: all 1s;
                        &.on{margin-left: -12%;}
                        @include pc{
                            margin-left: 0;
                            font-size: 120rem;
                            &.on{margin-left: 0;}
                        }
                    }
                }
                p{
                    margin-top: 14rem;
                    text-align: center;
                    @include pc{
                        font-size: 20rem;
                        margin-top: 40rem;
                    }
                }
            }
            .hiring-info{
                margin-top: 54rem;
                @include pc{margin-top: 156rem;}
                ul{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    @include pc{
                        flex-direction: row;
                    }
                    > li{
                        width: 100%;
                        padding: 20rem 0 20rem 10rem;
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        border-top: 1px solid #222;
                        border-bottom: 0;
                        &:last-child{border-bottom: 1px solid #222;}
                        @include pc{
                            border-bottom: 1px solid #222;
                            width: calc(100% / 3 - 16rem);
                            padding: 24rem 0 24rem 24rem;
                            // flex-direction: column;
                        }
                        .team-name{
                            width: auto;
                            @include pc{width: 100%;}
                            .hashtag{
                                display: inline-block;
                                line-height: 26rem;
                                @include pc{line-height: 32rem;}
                            }
                            > strong{
                                display: block;
                                font-size: 24rem;
                                font-weight: bold;
                                line-height: 36rem;
                                margin-top: 10rem;
                                @include pc{
                                    margin-top: 20rem;
                                    font-size: 40rem;
                                }
                            }
                        }
                        .team-support{
                            display: flex;
                            align-items: center;
                            gap: 6rem;
                            font-weight: 500;
                            font-size: 16rem;
                            @include pc{
                                font-size: 18rem;
                                gap: 14rem;
                            }
                            .arr-btn{
                                .inner{
                                    height: 48rem;
                                    img{animation: arr_ani .5s alternate ease-in-out infinite;}
                                }
                                &.purple{
                                    @include pc{
                                        .icon-circle{
                                            width: 48rem;
                                            height: 48rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &#qa{
            padding: 60rem 0 24rem;
            overflow: hidden;
            @include pc{
                padding: 124rem 0;
            }
            &::after{
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -5;
                // background: url(../../assets/images/sub/job/qa_bg.png) no-repeat center/ 100% 100%;
                background: linear-gradient(0deg, rgba(255,255,255,1) 3%, rgba(173,173,241,1) 35%, rgba(106,106,230,1) 100%);
            }
            .qa-tit{
                width: calc(100% - 60rem);
                text-align: left;
                margin: 0 auto 34rem;
                position: relative;
                @include pc{
                    text-align: center;
                    margin: 0 auto 40rem;
                }
                &::before, &::after{
                    content: '';
                    position: absolute;
                    display: inline-block;
                }
                &::before{
                    display: none !important;
                    @include pc{
                        display: block !important;
                        width: 230rem; 
                        height: 530rem;
                        background: url(../../assets/images/sub/job/star_icon02.png) no-repeat center/ contain;
                        left: 60rem;
                        top: -188rem;
                    }
                }
                &::after{
                    @include pc{
                        width: 245rem !important; 
                        height: 380rem !important;
                        right: 268rem !important;
                        top: -50rem !important;
                    }
                    background: url(../../assets/images/sub/job/double_circle_icon.png) no-repeat center/ contain;
                    right: -50rem !important;
                    top: 0 !important;
                    width: 120rem !important;
                    height: 188rem !important;
                }
                *{color: $white;}
                > strong{
                    font-size: 36rem;
                    line-height: 56rem;
                    font-weight: bold;
                    font-family: $mont;
                    @include pc{
                        font-size: 60rem;
                    }
                }
                > p{
                    // margin: 20rem 0 30rem;
                    margin-top: 20rem;
                    @include pc{
                        font-size: 20rem;
                        margin-top: 40rem;
                    }
                } 
            }
            .qa-info{
                max-width: 1088rem;
                width: calc(100% - 60rem);
                margin: 0 auto;
                position: relative;
                &::before{
                    display: none !important;
                    @include pc{
                        content: '';
                        position: absolute;
                        display: block !important;
                        width: 330rem;
                        height: 330rem;
                        background: url(../../assets/images/sub/job/star_icon01.png) no-repeat center/ contain;
                        bottom: 0;
                        right: -500rem;
                    }
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 16rem;
                    @include pc{gap: 24rem;}
                    li{
                        background: $white;
                        border-radius: 10px;
                        padding: 28rem 18rem;
                        @include whiteBox;
                        @include pc{padding: 34rem;}
                        .qa-info-tit{
                            display: flex;
                            font-size: 18rem;
                            font-weight: bold;
                            margin-bottom: 14rem;
                            line-height: 28rem;
                            @include pc{
                                font-size: 24rem;
                                margin-bottom: 20rem;
                            }
                            .question-num{
                                position: relative;
                                margin-right: 12rem;
                                @include pc{margin-right: 24rem;}
                                span{
                                    font-size: 28rem;
                                    font-weight: 800;
                                    color: transparent;
                                    -webkit-text-stroke: 1px $purple;
                                    position: relative;
                                    z-index: 1;
                                    @include pc{
                                        width: 44rem;
                                        font-size: 36rem;
                                    }
                                }
                                .icon-circle{
                                    width: 48rem;
                                    height: 48rem;
                                    position: absolute;
                                    top: -20rem;
                                    left: -10rem;
                                    z-index: 0;
                                }
                            }
                        }
                        > p{
                            line-height: 28rem;
                            @include ellipsis(3);
                            @include pc{
                                margin-left: 68rem;
                                font-size: 18rem;
                            }
                        }
                    }
                }
            }
        }
        &#contact{
            padding: 92rem 0 0; 
            display: flex;
            flex-direction: column;
            gap: 18rem;
            max-width: 1248rem;
            @include pc{
                flex-direction: row;
                justify-content: space-between;
                gap: 70rem;
                padding: 154rem 0 0; 
            }
            .contact-tit{
                font-family: $mont;
                font-size: 36rem;
                line-height: 48rem;
                font-weight: 800;
                color: $purple;
                @include pc{
                    font-size: 60rem;
                    line-height: 80rem;
                }
            }
            .contact-info{
                display: flex;
                flex-direction: column;
                gap: 16rem;
                @include pc{
                    margin-top: 0;
                    max-width: 536rem;
                    width: 100%;
                }
                .input-wrap{
                    &:not(:first-child){
                        margin-top: 24rem;
                        @include pc{margin-top: 46rem;}
                    }
                    &:not(.check){
                        input{
                            @include ellipsis(1);
                            width: 100%;
                            padding: 12rem 10rem;
                            border-bottom: 2px solid #222;
                        }
                        textarea{
                            width: 100% !important;
                            height: 104rem;
                            display: block;
                            resize: none;
                            padding: 12rem 10rem;
                            border-bottom: 2px solid #222;
                        }
                    }
                    &.check{margin-top: 16rem;}
                }
                button{
                    margin-top: 46rem;
                    max-width: 100%;
                    @include pc{
                        font-size: 18rem;
                        width: 100%;
                    }
                }
            }
        }
    }
    .intro-bg{
        background: url(../../assets/images/common/top_bg.png);
        filter: blur(30px);
    }

    
}
.intro-bg{
    width: 100%;
    height: calc(100vh - 80rem);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-indent: -9999em;
}
@keyframes titMotion{
    from{height: 0;}
    to{height: 120rem;}
}
@keyframes heightTo100{
    from{height: 0%;}
    to{height: 100%;}
}
@keyframes opacityTo100{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes mobileSlider{
    from{
        transform: translateY(20rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes titShow{
    from{margin-left: -100%;}
    to{margin-left: -12%;}
}

// .animate__delay-2s{animation-delay: .15s !important;}
// .animate__delay-3s{animation-delay: .3s !important;}
// .animate__delay-4s{animation-delay: .45s !important;}

// .ani-fadein {
//     animation: fadeIn 1s ease;
//     animation-fill-mode: both;
// }
// .ani-fadeinup {
//     position: relative;
//     -webkit-transform: translateY(50%);
//     transform: translateY(50%);
//     animation: fadeInUp 1s ease;
//     animation-fill-mode: both;
// }

// .ani-fadeindown {
//     position: relative;
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
//     animation: fadeInDown 1s ease;
//     animation-fill-mode: both;
// }