/* 피씨 */
@mixin pc {
    @media (min-width: 750px){
        @content;
    }
}
@mixin mb {
    @media (max-width: 750px){
        @content;
    }
}
@mixin respon1600 {
    @media (min-width: 1600px){
        @content;
    }
}
@mixin respon1024 {
    @media (min-width: 1024px){
        @content;
    }
}
@mixin respon600 {
    @media (min-width: 600px){
        @content;
    }
}

@media (max-width: 1024px) and (min-width: 750px){ 
    html {font-size:0.8px;}
}
@media (max-width: 365px) and (min-width: 320px){ 
    html {font-size:0.9px;}
}
@media (max-height: 750px) { 
    html {font-size:0.8px;}
}