/* 20230410 test */

@import "common";
@import "responsive";

h2{color: #222;}

// 애니메이션
@keyframes arr_ani{
    from{right: 20rem;}
    to{right: 15rem;}
}

// HEADER
#header {
    width: 100%;
    background: $white;
    height: 10rem;
    position: fixed;
    top: 0;
    z-index: 100;
    @include tablet {
        // height: 9.6rem;
        &.active {
            height: 100%;
            max-width: 37.5rem;
            background: $white;
        }
    }
    > .inner {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 5.8rem;
        h1 {
            .logo {
                text-decoration: none;
                color: $black;
                font-size: 2.4rem;
                font-weight: 700;
                font-family: $panchang;
                &:hover {
                    font-weight: 800; color: $purple;
                }
                @include notebook {
                    font-size: 2rem;
                }
                @include tablet_junction {
                    font-size: 1.6rem;
                }
                @include tablet {
                    &.active {
                        color:$black;
                    }
                }
            }
        }
        #gnb {
            display: flex;
            gap: 8rem;
            @include notebook {
                gap: 5rem;
            }
            @include tablet_junction {
                gap: 3rem;
            }
            @include tablet {
                display: none;
                &.active {
                    display: flex;
                    flex-direction: column;
                    gap: 4.8rem;
                    position: absolute;
                    top: 15.1rem;
                    left: 0;
                }
            }
            li {
                cursor: pointer;
                a {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    font-family: $panchang;
                    font-weight: 700;
                    font-size: 2.4rem;
                    color: $black;
                    text-decoration: none;
                    transition: 0.4s;
                    line-height: 1;
                    &:hover {
                        color: $purple;
                        line-height: 0;
                    }
                    .arr-btn {
                        display: none;
                        @include tablet {
                            // display: block;
                            position: absolute;
                            bottom: -25rem;
                            left: 15.2rem;
                        }
                        img {
                            width: 14rem;
                            animation: arr_ani .5s alternate ease-in-out infinite;
                        }
                    }
                    @include notebook {
                        font-size: 2rem;
                    }
                    @include tablet_junction {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .btn-wrap {
            // display: none;
            @include tablet {
            }
            .ham-btn {
                // @include tablet {
                //     &.active {
                //         display: none;
                //     }
                // }
            }
            .close-btn {
                // display: block;
                // @include tablet {
                //     display: none;
                //     &.active {
                //         display: block;
                //     }
                // }
            }
        }
    }
}

.con-box{
    width: calc(100% - 6rem);
    max-width: 1640px;
    margin: 0 auto;
}

.wrap{
    #container{
        section{
            position: relative;
            // 서브페이지 인트로
            &#intro{
                padding: 12rem 0 9rem;
                width: 100%;
                .intro-bg{
                    @include background(sub, top_bg, png, no-repeat, center, bottom);
                    text-indent: -9999em;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    filter: blur(10px);
                }
                .intro-tit{
                    text-align: center;
                    letter-spacing: 0;
                    *{color: $white;}
                    > h2{
                        font-size: 6rem;
                        font-weight: bold;
                        line-height: 7.2rem;
                        display: block;
                        margin-bottom: 4.6rem;
                        text-transform: uppercase;
                    }
                    > p{
                        font-family: $pretendard;
                        font-size: 2rem;
                        font-weight: 500;
                        line-height: 3rem;
                    }
                }
            }
        }
    }
}